.content {
}

.layout {
    display: flex;
}

.leftSide {
    height: 100vh;
    width: 300px;
    background-color: azure;
    border-right: solid 1px gray;
}

// @media (max-width: 1000px) {
//     .leftSide {
//         display: none;
//     }
// }