.performers {
    margin: 30px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.performer {
    object-fit: cover;
    height: 200px;
    width: 200px;
    border: solid 1px;
    border-radius: 50%;
}