%wrap {
  position: fixed;
  top: 0;
  height: 100vh;
  background-color: azure;
  z-index: var(--portal);
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.left-wrap {
  @extend %wrap;
  left: 0;
}

.left-start {
  left: -300px;
}

.left-active {
  left: 0;
  transition: left 300ms;
}

.left-end {
  left: -300px;
  transition: left 300ms;
}

.right-wrap {
  @extend %wrap;
  right: 0;
}

.right-start {
  right: -300px;
}

.right-active {
  right: 0;
  transition: right 300ms;
}

.right-end {
  right: -300px;
  transition: right 300ms;
}

.close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  width: 20px;
  height: 20px;
  background-color: #fb4b4d;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
}
