.wrapper {
    width: 1395px;
    margin: 0 auto;
    // border: solid 1px;
}

.headerBox {
    display: flex;
    justify-content: center;
}

.imagesContainer {
    display: flex;
    gap: 20px;
}

.imagesBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.runString {
display: flex;
align-items: center;
gap: 28px;
}

.chillyText {
color: #000;
text-align: center;
font-size: 17px;
letter-spacing: 0.5px;
}

.imagesText {
color: #000;
text-align: center;
font-size: 58px;
letter-spacing: 0.5px;
padding: 30px 30px;
}

.button {
    position: absolute;
    right: 100px;
    background-color: #8B83F6;
    color: white;
    width: 50px;
    height: 30px;
    font-size: 15px;
    padding-top: 10px;
    margin-top: -10px;
    transition: 0.5s;
    border-radius: 0px 0px 10px 10px;
    border: white;
}

.button:hover {
    margin-top: 0;
}
