.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  min-height: 100%;
  font-size: 30px;
}

.zoom {
    width: 400px;
    height: 200px;
    border: solid 1px red;
    font-size: 150px;
}

.wrap {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: scale(1) translate(-50%, -50%);
  transform-origin: 0% 0%;
 
}

.start {
  transform: scale(0.5) translate(-50%, -50%);
  opacity: 0;
}

.active {
  transition: transform 300ms, opacity 300ms;
  transform: scale(1) translate(-50%, -50%);
  opacity: 1;
}

.end {
  transition: transform 300ms, opacity 300ms;
  opacity: 0;
  transform: scale(0) translate(-50%, -50%);
}
